[Desktop Entry]
Name=kylin-application
Name[zh_CN]=麒麟应用
Exec=/usr/bin/kylin-application %u
Icon=kylin-application
Type=Application
Categories=Utility;
